PORT=8080
BUCKET_NAME=orb-hackathon-artifacts
GOOGLE_CLOUD_PROJECT=orb-hackathon

# Local dev frontend origin
CORS_ORIGINS=http://localhost:3000

# Must match frontend CLOUD_PERSIST_API_KEY
UPLOAD_API_KEY=Spartan117!

# false => private objects + signed URLs
# true  => public objects
MAKE_PUBLIC=false

MAX_UPLOAD_BYTES=60000000